venv/
*.pyc
migrations 
vagrant/.vagrant
vagrant/site.retry
vagrant/a4keypair.pem
.idea/
*.iml
.DS_Store
*/.DS_Store
quolesome-ness/node_modules
cs4300-env/
__pycache__/
*/__pycache__
app/quolesome-ness/node_modules
quotes_likes/quotes.model.projection.u.npy
quotes_likes/quotes_likes_0-100K.csv