.App {
  padding-top: 80px;
  text-align: center;
}

.text {
  font-size: 20px;
}

.header {
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 2px 1px 5px #797979;
}

.header h1 {
  font-family: serif;
  font-weight: 800;
  padding-bottom: 20px;
}

.header p {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
}

.like-button {
  /* margin-top: 60%; */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.input {
  width: 60% !important;
  margin: auto !important;
  padding: 30px 30px 0 30px;
  background-color: #f4ffffa8;
  border-radius: 10px;
}

.input-container {
  width: 85%;
  margin: auto;
}

.tags {
  padding: 30px 0 40px 0;
}

.emoji-range {
  margin: 20px auto 0 auto;
}

.emoji-row {
  width: 80%;
  margin: auto !important;
}

.emoji {
  font-size: 2.5vw;
  cursor: pointer;
  margin: auto;
  width: 10%;
}

.button {
  margin: 15px auto 30px auto;
}

.quote-card {
  background-color: #f4ffffbb !important;
  border-radius: 10px !important;
}

.footer {
  margin-top: 30px;
  height: 50px;
  font-weight: 500;
}

.loader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.version {
  position: absolute;
  top: 2%;
  left: 20px;
  z-index: 1;
}

.version2 {
  position: absolute;
  top: 2%;
  left: 150px;
  z-index: 1;
}

a {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .App {
    padding-top: 90px;
  }

  .version {
    left: 28%;
  }

  .version2 {
    left: 52%
  }

  .header h1 {
    font-size: 34px;
  }

  .header p {
    font-size: 17px;
  }

  .emoji-row {
    width: 100%;
  }

  .emoji {
    font-size: 4.5vw;
    width: 10%;
    margin: 5px;
  }

  .text {
    font-size: 17px;
  }

  .input {
    width: 80% !important;
  }

  .input-container {
    width: 90%;
  }
}


